*.7z
*.raw
*.mhd
*.dcm
*.npy
*.npz
*.zip
.DS_Store
*.pyc
.idea/

# Manual saves of Jupyter notebooks
.ipynb_checkpoints/

# folder for personal use
personal/

# tensorboard files
events.out.tfevents.*
